* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(9, 0, 48);
    --secundary-color: rgb(236, 251, 255);
    --accent-color: rgb(174, 37, 176);
}
body{
    background-color: var(--primary-color);
    color: var(--secundary-color);
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
footer {
    display: flex;
    justify-content: center;
}

#inventory-container {
    background-color: var(--secundary-color);
    margin: 5%;
    display: flex;
    gap: 4px;
    padding: 4px;
}
.item{
    background-color: var(--accent-color);
    width: 100px;
}
.item img{
    width: 100%;
    filter: drop-shadow(2px 4px 3px black);
    transition: transform 0.3s ease;

}

.item img:hover{
    transform: scale(1.2);
}

/*Cambio de escenas*/
.scene {
    display: none;
}

.scene.active {
    display: block; 
}

footer {
    display: none;
}

footer.visible {
    display: block;
}
/*

ESTILO ESCENA 1

*/
#scene-1{
    margin: 32px;
    height: 90%;
    background-color: var(--secundary-color);
    color:var(--accent-color);
}
#scene-1>div:first-child{
    height: 40%;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
#scene-1>div:first-child img{
    height: 60%;
    border-radius: 20px;
        filter: drop-shadow(2px 4px 3px black);

}
#scene-1>div:first-child h2{
    color: var(--accent-color);
    min-width: 30%;
    font-size: 2.5rem;

}

#scene-1>div:nth-child(2){
    height: 50%;
}
#scene-1>div:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

#scene-1-stats>div{
    display: flex;
    align-items: center;
    height: 40px;
    margin: 8px;
    border: 1px solid var(--accent-color);
    padding: 8px;
    background: var(--secundary-color);
    box-shadow: 1px 2px 5px black;
}

#scene-1-stats>div p{
    font-size: 2rem;

}

/*

ESTILO ESCENA 2

*/
#scene-2{
    margin: 32px;
    height: 90%;
    background-color: var(--secundary-color);
    color:var(--accent-color);
}