/*
===================================================
===================================================
*/

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definición de variables y fuentes */
:root {
    --primary-color: #5C4033;
    --secundary-color: #D4C19A;
    --accent-color: #694a2b;
    --dark-border: #3d2a1f;

    /* Variables/Constantes extraídas */
    --shadow-3d: 3px 5px 0px rgba(0, 0, 0, 0.4);
    --main-border: 4px solid var(--dark-border);
    --main-container-border: 5px solid var(--accent-color);
    --button-color: #8B0000;
    --player-shadow: 4px 6px 0px rgba(0, 0, 0, 0.4);

    /* Variables de fuente */
    --font-primary: 'Graduate', Playbill, serif;
    --font-title-stencil: "Stencil Std", Stencil, sans-serif;
    --font-impact: Impact, "Arial Black", sans-serif;
}

/* Estilo del Body y Layout principal */
body {
    background-color: var(--primary-color);
    color: var(--secundary-color);
    display: grid;
    min-height: 100vh;
    grid-template-rows: 5vh 80vh 15vh;
    font-family: var(--font-primary);
}

/* Estilo del Header H1 */
head h1 {
    font-size: 2rem;
    color: var(--secundary-color);
    text-align: center;
    line-height: 10vh;
    font-family: var(--font-title-stencil);
}

/* Estilo del contenedor de escena */
.scene {
    display: none;
    height: 100%;
}

/* Escena activa */
.scene.active {
    display: flex;
}
